* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'Merriweather Sans', Arial, Helvetica, sans-serif;
  background-color: orange;
}

/* When dark mode => on = false => .all.classList.add(off) */
body.off {
  background-color: Black;
  color: white;
}

body.off div {
  background-color: black;
  color: white;
}

body.off .wrapper .left .title h1 {
  color: white;
}

body.off .restart:hover {
  background-color: white;
  color: black;
}

/* Header containing toggle switch */
header {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 50px;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;

  z-index: 10;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.switch {
  position: relative;

  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  cursor: pointer;
}

.slider:before {
  position: absolute;

  content: '';

  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;

  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.title {
  max-width: 500px;
}

.wrapper .left .title h1 {
  font-size: 70px;
  color: black;
}

.wrapper {
  background-color: orange;

  height: 800px;
  max-width: 1440px;
  margin: 0 auto;
  padding: 40px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.restart {
  background-color: black;
  color: red;
  font-weight: bold;

  width: 175px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  border: 3px solid yellow;
  margin-top: 30px;

  cursor: pointer;
  transition: all 0.2s ease;
}

.restart:hover {
  background-color: red;
  color: black;
}

.game {
  width: 500px;
  height: 500px;

  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  font-size: 24px;
  color: gray;
}

.player-x {
  flex: 1;
  border-bottom: 5px solid gray;
  padding-bottom: 8px;
}

.player-x.active {
  color: green;
  border-color: green;
  font-weight: bold;
}

.player-o {
  flex: 1;
  border-bottom: 5px solid gray;
  padding-bottom: 8px;
}

.player-o.active {
  color: purple;
  border-color: purple;
  font-weight: bold;
}

.board {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 0;
  flex-grow: 1;

  padding: 10px;
}

.board__tile {
  background-color: darkorange;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 80px;
  cursor: pointer;
}

/* only except multiple of 3 (3n) */
.board__tile:not(:nth-child(3n)) {
  border-right: 3px solid gray;
}

.board__tile:not(:nth-last-child(-n + 3)) {
  border-bottom: 3px solid gray;
}

.board__tile:hover {
  background: black;
  color: white;
}

.tile-x {
  color: green;
}

.tile-o {
  color: purple;
}

.tile-winner span {
  color: gray;
  font-weight: bold;
}

@media only screen and (max-width: 1200px) {
  .wrapper {
    flex-direction: column;
  }

  .left {
    margin-bottom: 50px;
  }
}
