* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'Merriweather Sans', Arial, Helvetica, sans-serif;
}

.wrapper .left .title h1 {
  font-size: 70px;
  color: black;
}

.wrapper {
  background-color: orange;

  height: 800px;
  max-width: 1440px;
  margin: 0 auto;
  padding: 40px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.restart {
  background-color: black;
  color: red;
  font-weight: bold;

  width: 175px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  border: 3px solid yellow;
  margin-top: 30px;

  cursor: pointer;
  transition: all 0.2s ease;
}

.restart:hover {
  background-color: red;
  color: black;
}

.game {
  width: 500px;
  height: 500px;

  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  font-size: 24px;
  color: gray;
}

.player-x {
  flex: 1;
  border-bottom: 5px solid gray;
  padding-bottom: 8px;
}

.player-o {
  flex: 1;
  border-bottom: 5px solid gray;
  padding-bottom: 8px;
}

.board {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 0;
  flex-grow: 1;

  padding: 10px;
}

.board__tile {
  background-color: darkorange;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 80px;
  cursor: pointer;
}

/* only except multiple of 3 (3n) */
.board__tile:not(:nth-child(3n)) {
  border-right: 3px solid gray;
}

.board__tile:not(:nth-last-child(-n + 3)) {
  border-bottom: 3px solid gray;
}

.board__tile:hover {
  background: black;
  color: white;
}
